* {
  font-family: georgia, "times new roman", serif;
}

h1 {
  font-size: 40px;
  font-style: italic;
  font-weight: 700;
  color: #121212;
}

/* img {
  max-width: 100%;
}

figure {
  width: 1000px;
} */
